results/
.vscode/
build/
hugo/
ext/
__pycache__
.pysdot*
.env
*.egg-info
*.so
*.o
*.egg
dist/
*.vtk
*.png
*.log
*-checkpoint.ipynb
.ipynb_checkpoints
clay.jpg
octave-workspace
boost_1_82_0*
loc/
.DS_Store

